h2 Reset Password

if isreset
  p Please check for your email for a link to reset your password
else  
  form(action='/admin/forgotpassword' method='post')
    input(type="text" name="email" placeholder="Email")
    input(type="submit" value="Reset Password")

    if error
      span #{error}