@import '../variables';
@import '../mixins';

.container-wide {
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  @media (min-width: 992px) {
    .container {
        width: 970px;
    }
  }
  @media (min-width: 768px) {
    .container {
        width: 750px;
    }
  }
}

.response-to {
  // float: right;
  // width: 33%;
  // max-width: 400px;
  // font-size: 2.5em;
  font-style: italic;
  a {
    color: $red;
  }
}

.article {
  .article-content {
    padding-bottom: 50px;
  }
  
  p {
    margin: 0
  }

  p + p {
    margin-top: 10px;
  }

  .article-cover, .article-cover-blur {
    @include aspect-ratio(24,9);
    min-height: 400px;
    max-height: 80vh;
    position: relative;
    width: 100%;
    background-color: #efefef;

    background-size: cover;
    background-position: center center;

    img {
      min-width: 100%;
      max-width: 100%;
    }
    .article-cover-btn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }

  .nav-mask {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 61px;
    overflow: hidden;
  }

  .nav-mask-bg {
    background-color: rgba($heavy-gray, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  .article-cover-blur {
    position: absolute;
    top: 0px;
    @include blur(10px);
  }

  .article-cover-change-btn {
    position: relative;
    cursor: pointer;
  }

  .article-cover-change-btn::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;

    top: 50%;
    -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
  }

  .article-cover-change-btn:hover::before {
    // content:'';
    // display: block;
    // position: absolute;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;

    background-color: rgba(0.2,0.2,0.2,0.5);
  }

  .article-cover-change-btn:hover::after {
    content: 'Change Cover Photo';
    // background-color: rgba(0.2,0.2,0.2,0.5);
    text-align: center;
    color: white;
    font-size: 18px;
  }

  .title-box {
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow: hidden;

    img {
      position: absolute;
      bottom: 0px;
      $blur-amount: 10px;
      filter: blur($blur-amount);
      -webkit-filter: blur($blur-amount);
      -o-filter: blur($blur-amount);
      -moz-filter: blur($blur-amount);
      -ms-filter: blur($blur-amount);
    }

    .article-title {
      position: relative;
      padding: 20px;
      text-align: center;
      font-size: 3em;
    }

    .title-bg {
      background-color: rgba($heavy-gray, 0.5);
      position: relative;
      // position: absolute;
      // bottom: 0px;
      // left: 0px;
      // width: 100%;
      h1 {
        margin: 0;
      }
    }
  }

  .article-title {
    position: relative;
    // padding: 5px 0px;
    // padding-top: 20px;
    // margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 3em;
  }

  .article-author-date {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
  }


  .article-content {
    p {
      font-size: 18px;
      line-height: 1.5em;

      & > span {
        font-size: inherit!important;
        line-height: inherit!important;
      }
    }
  }

  *:focus {
    outline: none;
  }

  figcaption {
    color: #888;
  }
}

nav.navbar {
  // display: none;
  background-color: transparent;
  padding-top: 0px;
  margin-top: 0px;
  padding-top: 10px;
  position: absolute;

  .container {
    border: none;
  }

  .navbar-brand {
    img {
      display: none;
    }
    padding: 10px 15px;
    h1 {
      display: block!important;
      font-size: 24px;
      margin: 0;
      line-height: 30px;
      letter-spacing: 1px;
      color: $base;
    }
  }

  .navbar-toggle {
    margin-top: 5px;
    .icon-bar {
      background-color: $base;
    }
  }

  @media(max-width: 767px) {
    background-color: $heavy-gray;
  }

  .navbar-nav > li > a {
    color: $light-gray;
    &:hover {
      color: $base;
    }
  }

  & + .container {
    margin: 0;
    width: 100%;
    padding: 0;
  }
}

body {
  margin-top: 0;
}