h2.strong Sister Journals
ul.clean
  li: a(href='//augustinecollective.org/augustine/') Augustine Collective
  li: a(href="//agathosjournal.wordpress.com/") Bowdoin Agathos
  li: a(href="//browncornerstone.wordpress.com/") The Brown &amp; RISD Cornerstone
  li: a(href="//claremontekklesia.com") The Claremont Ekklesia
  li: a(href="//www.crowncross.org/") The Columbia Crown &amp; Cross
  li: a(href="//cornellclaritas.blogspot.com") Cornell Claritas
  li: a(href="//www.dartmouthapologia.org/apologia/") Dartmouth Apologia
  li: a(href="//web.duke.edu/religio/") Duke Religio
  li: a(href="//www.harvardichthus.org/") The Harvard Ichthus
  li: a(href="//manna.mycpanel.princeton.edu/revisions/") Princeton Revisions
  li: a(href="//swarthmoreperipateo.wordpress.com/ ") Swarthmore Peripateo
  li: a(href="//unknowngodjournal.wordpress.com") UC Berkeley To An Unknown God
  li: a(href="//cargocollective.com/wheatonpub") Wheaton The Pub
  li: a(href="//sites.williams.edu/telos") The Williams Telos
  li: a(href="//yalelogos.com") Yale Logos
  