h2.strong Social Media
p Connect with us on social media to stay up to date with new content and announcements.
.logo
  a(href='//www.facebook.com/PennChristianJournal/')
    img(src='/img/facebook-logo.png' style='width:100%')