h2.strong Social Media
p Connect with us on social media cause that's what all the kool kids are doing these days.
.logo
  a(href='//www.facebook.com/PennChristianJournal/')
    img(src='/img/facebook-logo.png' style='width:100%')