extends ./_split-layout.jade

block main
  .tile.tile-vertical.white-theme
    h2.strong Submissions
    p We are accepting article, artwork and photography submissions for our online blog and our first print edition to be released Spring 2017. Please send all submissions to 
      a(href='mailto:pennchristianjournal@gmail.com') pennchristianjournal@gmail.com 

    h2.strong Print Journal Submissions 
    ul.list
      li May be academic papers, interviews, testimonies, short fiction, poetry, artwork
      li Attach to the email as a Word document (“.doc” please, not “.docx”), single-spaced
      li Include an article summary/blurb of your own fashioning, which will potentially be used as the article’s tagline in the printed issue 
      li Include a short biography of yourself that includes such information as year, major, hometown - one sentence is sufficient 
      li Any images should be attached separately at the highest resolution possible (do not embed them in the Word document) 
    p Please see the <a href='/writers-guide#print'>Writer’s Guide</a> for more information.

    h2.strong Blog Submissions
    p Locust Walk follows a structured response model for our online blog which allows us to capture the dialogue within our Penn community. Feature articles are published the <strong>first Sunday</strong> of each month and weekly articles responding to the feature content are published each following Sunday. If you wish to have your piece published on a specific Sunday, please have your first draft submitted by the previous Tuesday 11:59pm. You will be assigned an editor to review your work and final drafts are due Saturday 11:59 pm. 
    p Send a 1-2 page blog post to <a href='mailto:pennchristianjournal@gmail.com'>pennchristianjournal@gmail.com</a> (500-800 words ideally)

    p Please see the <a href='/writers-guide#blog'>Writer’s Guide</a> for more information.

    h2.strong Artwork and Photography Submissions
    p Please attach your photos or artwork as a .jpg file and email them to us at <a href='mailto:pennchristianjournal@gmail.com'> pennchristianjournal@gmail.com</a>. Include your first and last name, class year, school, and course of study.


block sidebar
  .row
    .col-md-12
      .tile.tile-vertical.gray-theme
        include _donate
   
    .col-md-12.col-sm-6
      .tile.tile-vertical.red-theme
        include _sisters

    .col-md-12.col-sm-6
      .tile.tile-vertical.gray-theme
        include _archive
  
