.default-theme {
  background-color: #f8f8f8; }
  .default-theme .h1, .default-theme h1, .default-theme .h2, .default-theme h2, .default-theme .h3, .default-theme .button, .default-theme input[type='button'], .default-theme h3, .default-theme .h4, .default-theme h4, .default-theme .h5, .default-theme h5, .default-theme .h6, .default-theme h6 {
    color: #222; }
    .default-theme .h1 a, .default-theme h1 a, .default-theme .h2 a, .default-theme h2 a, .default-theme .h3 a, .default-theme .button a, .default-theme input[type='button'] a, .default-theme h3 a, .default-theme .h4 a, .default-theme h4 a, .default-theme .h5 a, .default-theme h5 a, .default-theme .h6 a, .default-theme h6 a {
      color: inherit; }
  .default-theme a {
    color: #8193B5; }
    .default-theme a:hover {
      color: #222;
      text-decoration: none; }
  .default-theme p, .default-theme li {
    font-family: "Roboto";
    color: #777;
    font-size: 16px; }
  .default-theme .button, .default-theme input[type='button'] {
    display: inline-block;
    padding: 10px;
    border: none;
    background-color: #ddd; }

.blue-theme {
  background-color: #8193B5; }
  .blue-theme .h1, .blue-theme h1, .blue-theme .h2, .blue-theme h2, .blue-theme .h3, .blue-theme .default-theme .button, .default-theme .blue-theme .button, .blue-theme .default-theme input[type='button'], .default-theme .blue-theme input[type='button'], .blue-theme h3, .blue-theme .h4, .blue-theme h4, .blue-theme .h5, .blue-theme h5, .blue-theme .h6, .blue-theme h6 {
    color: #f8f8f8; }
  .blue-theme a {
    color: #A95B61; }
    .blue-theme a:hover {
      color: white; }
  .blue-theme p, .blue-theme li {
    color: #eee; }

.red-theme {
  background-color: #A95B61; }
  .red-theme .h1, .red-theme h1, .red-theme .h2, .red-theme h2, .red-theme .h3, .red-theme .default-theme .button, .default-theme .red-theme .button, .red-theme .default-theme input[type='button'], .default-theme .red-theme input[type='button'], .red-theme h3, .red-theme .h4, .red-theme h4, .red-theme .h5, .red-theme h5, .red-theme .h6, .red-theme h6 {
    color: #f8f8f8; }
  .red-theme a {
    color: #ddd; }
    .red-theme a:hover {
      color: #f8f8f8; }
  .red-theme p, .red-theme li {
    color: #ddd; }

.dark-theme, .featured .title-box, .feature-response .title-box {
  background-color: #222; }
  .dark-theme .h1, .featured .title-box .h1, .feature-response .title-box .h1, .dark-theme h1, .featured .title-box h1, .feature-response .title-box h1, .dark-theme .h2, .featured .title-box .h2, .feature-response .title-box .h2, .dark-theme h2, .featured .title-box h2, .feature-response .title-box h2, .dark-theme .h3, .featured .title-box .h3, .feature-response .title-box .h3, .dark-theme .default-theme .button, .default-theme .dark-theme .button, .featured .title-box .default-theme .button, .default-theme .featured .title-box .button, .feature-response .title-box .default-theme .button, .default-theme .feature-response .title-box .button, .dark-theme .default-theme input[type='button'], .default-theme .dark-theme input[type='button'], .featured .title-box .default-theme input[type='button'], .default-theme .featured .title-box input[type='button'], .feature-response .title-box .default-theme input[type='button'], .default-theme .feature-response .title-box input[type='button'], .dark-theme h3, .featured .title-box h3, .feature-response .title-box h3, .dark-theme .h4, .featured .title-box .h4, .feature-response .title-box .h4, .dark-theme h4, .featured .title-box h4, .feature-response .title-box h4, .dark-theme .h5, .featured .title-box .h5, .feature-response .title-box .h5, .dark-theme h5, .featured .title-box h5, .feature-response .title-box h5, .dark-theme .h6, .featured .title-box .h6, .feature-response .title-box .h6, .dark-theme h6, .featured .title-box h6, .feature-response .title-box h6 {
    color: #f8f8f8; }
  .dark-theme p, .featured .title-box p, .feature-response .title-box p, .dark-theme li, .featured .title-box li, .feature-response .title-box li {
    color: #ddd; }

.gray-theme {
  background-color: #ddd; }
  .gray-theme .h1, .gray-theme h1, .gray-theme .h2, .gray-theme h2, .gray-theme .h3, .gray-theme .default-theme .button, .default-theme .gray-theme .button, .gray-theme .default-theme input[type='button'], .default-theme .gray-theme input[type='button'], .gray-theme h3, .gray-theme .h4, .gray-theme h4, .gray-theme .h5, .gray-theme h5, .gray-theme .h6, .gray-theme h6 {
    color: #A95B61; }
    .gray-theme .h1 a, .gray-theme h1 a, .gray-theme .h2 a, .gray-theme h2 a, .gray-theme .h3 a, .gray-theme .default-theme .button a, .default-theme .gray-theme .button a, .gray-theme .default-theme input[type='button'] a, .default-theme .gray-theme input[type='button'] a, .gray-theme h3 a, .gray-theme .h4 a, .gray-theme h4 a, .gray-theme .h5 a, .gray-theme h5 a, .gray-theme .h6 a, .gray-theme h6 a {
      color: inherit; }
      .gray-theme .h1 a:hover, .gray-theme h1 a:hover, .gray-theme .h2 a:hover, .gray-theme h2 a:hover, .gray-theme .h3 a:hover, .gray-theme .default-theme .button a:hover, .default-theme .gray-theme .button a:hover, .gray-theme .default-theme input[type='button'] a:hover, .default-theme .gray-theme input[type='button'] a:hover, .gray-theme h3 a:hover, .gray-theme .h4 a:hover, .gray-theme h4 a:hover, .gray-theme .h5 a:hover, .gray-theme h5 a:hover, .gray-theme .h6 a:hover, .gray-theme h6 a:hover {
        color: #222; }
  .gray-theme a {
    color: #777; }
  .gray-theme .button, .gray-theme input[type='button'] {
    background-color: #f8f8f8; }

.white-theme {
  background-color: white; }

.h1, h1, .h2, h2, .h3, .default-theme .button, .default-theme input[type='button'], h3, .h4, h4, .h5, h5, .h6, h6 {
  font-family: "Lato";
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  text-transform: uppercase; }

.strong {
  font-weight: 900; }

.thin {
  font-weight: 300; }

.h2, h2 {
  margin-top: 1.5em;
  font-size: 24px; }

.h3, .default-theme .button, .default-theme input[type='button'], h3 {
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 0.25em; }

.featured-aspect, .featured .title-bg {
  position: relative; }
  .featured-aspect:before, .featured .title-bg:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 75%; }
  .featured-aspect > .content, .featured .title-bg > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media (max-width: 767px) {
    .featured-aspect, .featured .title-bg {
      position: relative; }
      .featured-aspect:before, .featured .title-bg:before {
        display: block;
        content: " ";
        width: 100%;
        padding-top: 56.25%; }
      .featured-aspect > .content, .featured .title-bg > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }

.feature-response-aspect, .feature-response .title-bg {
  position: relative; }
  .feature-response-aspect:before, .feature-response .title-bg:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 75%; }
  .feature-response-aspect > .content, .feature-response .title-bg > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media (max-width: 767px) {
    .feature-response-aspect, .feature-response .title-bg {
      position: relative; }
      .feature-response-aspect:before, .feature-response .title-bg:before {
        display: block;
        content: " ";
        width: 100%;
        padding-top: 75%; }
      .feature-response-aspect > .content, .feature-response .title-bg > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }

.featured-block-aspect {
  position: relative; }
  .featured-block-aspect:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 50%; }
  .featured-block-aspect > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media (max-width: 767px) {
    .featured-block-aspect {
      position: relative; }
      .featured-block-aspect:before {
        display: block;
        content: " ";
        width: 100%;
        padding-top: 93.75%; }
      .featured-block-aspect > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }

.featured-wrapper {
  width: 1200%;
  position: relative;
  left: 0;
  transition: left ease 0.5s;
  -webkit-transition: left ease 0.5s;
  -moz-transition: left ease 0.5s;
  -o-transition: left ease 0.5s;
  -ms-transition: left ease 0.5s; }

.featured-view {
  width: 100%;
  position: relative;
  white-space: nowrap;
  overflow: hidden; }

.feature-month-bar {
  padding: 10px 15px;
  margin-bottom: 2px; }
  .feature-month-bar h2 {
    margin: 0; }

.featured-block {
  white-space: normal;
  width: 8.33333%;
  position: relative;
  display: inline-block; }
  .featured-block .content {
    overflow: hidden; }

.featured-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.featured {
  width: 66.66667%;
  float: left; }
  @media (min-width: 768px) {
    .featured .content {
      right: 2px; } }
  @media (max-width: 767px) {
    .featured .content {
      bottom: 2px; } }

.feature-response {
  float: right;
  width: 33.33333%; }
  @media (min-width: 768px) {
    .feature-response:nth-child(2) .content {
      bottom: 1px; }
    .feature-response:nth-child(3) .content {
      top: 1px; } }
  @media (max-width: 767px) {
    .feature-response:nth-child(2) .content {
      right: 1px; }
    .feature-response:nth-child(3) .content {
      left: 1px; } }

@media (max-width: 767px) {
  .featured {
    float: none;
    width: 100%; }
  .feature-response {
    float: left;
    width: 50%; } }

.featured, .feature-response {
  position: relative; }
  .featured .bg-img, .feature-response .bg-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center; }
  .featured .title-bg-clip, .feature-response .title-bg-clip {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .featured .title-box, .feature-response .title-box {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    overflow: hidden; }
  .featured .title-bg, .feature-response .title-bg {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px); }
  .featured .title-content, .feature-response .title-content {
    position: relative;
    padding: 15px;
    background-color: rgba(34, 34, 34, 0.5); }
  .featured .title, .feature-response .title {
    margin-top: 0.1em;
    font-size: 32px;
    margin-bottom: 0.1em; }
  .featured .author-date, .feature-response .author-date {
    margin-top: 0.1em;
    font-size: 16px;
    margin-bottom: 0.1em; }

.feature-response .title {
  font-size: 20px; }

.feature-nav {
  position: absolute;
  top: 0;
  right: 0; }
  .feature-nav i {
    padding: 15px;
    background-color: #f8f8f8; }

.recent-block {
  position: relative; }
  .recent-block .thumb-aspect {
    position: relative;
    background-size: cover;
    background-position: center center; }
    .recent-block .thumb-aspect:before {
      display: block;
      content: " ";
      width: 100%;
      padding-top: 75%; }
    .recent-block .thumb-aspect > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .recent-block .thumb {
    width: 30%;
    margin-right: 15px;
    float: left; }
  .recent-block .recent-content .title {
    font-size: 24px;
    margin: 0.1em 0em; }
  .recent-block .recent-content .author-date {
    font-size: 16px;
    margin: 0.1em 0em; }
  .recent-block .recent-content .preview {
    overflow: hidden; }
  .recent-block:after {
    zoom: 1;
    display: table;
    content: '';
    line-height: 0;
    clear: both; }
  .recent-block + .recent-block {
    border-top: 1px solid #f8f8f8;
    padding-top: 15px;
    margin-top: 15px; }

#home-menu {
  float: left;
  padding-top: 75px;
  padding-bottom: 75px;
  border-right: 1px solid #777;
  overflow: hidden;
  transition: width 300ms; }
  @media (min-width: 768px) {
    #home-menu {
      width: 250px; } }
  @media (min-width: 992px) {
    #home-menu {
      width: 300px; } }
  @media (min-width: 1200px) {
    #home-menu {
      width: 350px; } }
  #home-menu #brand-img {
    padding: 15px;
    padding-left: 30px; }
    @media (min-width: 768px) {
      #home-menu #brand-img {
        width: 250px; } }
    @media (min-width: 992px) {
      #home-menu #brand-img {
        width: 300px; } }
    @media (min-width: 1200px) {
      #home-menu #brand-img {
        width: 350px; } }
  #home-menu ul.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #home-menu ul.menu-bar li {
      font-size: 18px;
      line-height: 50px;
      text-transform: uppercase;
      text-align: center; }
      #home-menu ul.menu-bar li a {
        display: block;
        color: inherit; }
      #home-menu ul.menu-bar li:hover {
        color: #222;
        background-color: #eee;
        cursor: pointer; }

#home-content-wrap {
  width: 100%; }
  #home-content-wrap .content {
    padding: 20px;
    padding-top: 75px; }
    @media (min-width: 768px) {
      #home-content-wrap .content {
        margin-left: 250px; } }
    @media (min-width: 992px) {
      #home-content-wrap .content {
        margin-left: 300px; } }
    @media (min-width: 1200px) {
      #home-content-wrap .content {
        margin-left: 350px; } }

.article {
  position: relative; }
  .article h3 {
    margin-top: 0px;
    margin-bottom: 5px; }
  .article .aspect4x3 {
    width: 200px;
    float: left; }
  .article .article-preview {
    margin-left: 215px; }
  .article:after {
    content: '';
    display: table;
    clear: both; }
  .article + .article {
    margin-top: 40px; }
    .article + .article:before {
      content: '';
      display: block;
      height: 1px;
      width: 65%;
      background-color: #ddd;
      position: absolute;
      right: -5%;
      top: -20px; }
  .article span.author {
    text-transform: uppercase;
    font-style: italic; }
  .article span.date {
    text-transform: uppercase;
    float: right;
    font-style: italic; }
