body {
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

* {
  box-sizing: border-box; }

.default-theme, html, body {
  background-color: #f8f8f8; }
  .default-theme .h1, html .h1, body .h1, .default-theme h1, html h1, body h1, .default-theme .h2, html .h2, body .h2, .default-theme h2, html h2, body h2, .default-theme .h3, html .h3, body .h3, .default-theme .button, html .button, body html .button, html body .button, html body .button, body html .button, body .button, .default-theme input[type='button'], html input[type='button'], body html input[type='button'], html body input[type='button'], html body input[type='button'], body html input[type='button'], body input[type='button'], .default-theme h3, html h3, body h3, .default-theme .h4, html .h4, body .h4, .default-theme h4, html h4, body h4, .default-theme .h5, html .h5, body .h5, .default-theme h5, html h5, body h5, .default-theme .h6, html .h6, body .h6, .default-theme h6, html h6, body h6 {
    color: #222; }
  .default-theme a, html a, body a {
    color: #8193B5; }
    .default-theme a:hover, html a:hover, body a:hover {
      color: #222;
      text-decoration: none; }
  .default-theme p, html p, body p, .default-theme li, html li, body li {
    font-family: "Roboto";
    color: #777;
    font-size: 16px; }
  .default-theme .button, html .button, body .button, .default-theme input[type='button'], html input[type='button'], body input[type='button'] {
    display: inline-block;
    padding: 10px;
    border: none;
    background-color: #ddd; }

.blue-theme {
  background-color: #8193B5; }
  .blue-theme .h1, .blue-theme h1, .blue-theme .h2, .blue-theme h2, .blue-theme .h3, .blue-theme .default-theme .button, .default-theme .blue-theme .button, .blue-theme html .button, html .blue-theme .button, .blue-theme body .button, body .blue-theme .button, .blue-theme .default-theme input[type='button'], .default-theme .blue-theme input[type='button'], .blue-theme html input[type='button'], html .blue-theme input[type='button'], .blue-theme body input[type='button'], body .blue-theme input[type='button'], .blue-theme h3, .blue-theme .h4, .blue-theme h4, .blue-theme .h5, .blue-theme h5, .blue-theme .h6, .blue-theme h6 {
    color: #f8f8f8; }
  .blue-theme a {
    color: #A95B61; }
    .blue-theme a:hover {
      color: white; }
  .blue-theme p, .blue-theme li {
    color: #eee; }

.red-theme {
  background-color: #A95B61; }
  .red-theme .h1, .red-theme h1, .red-theme .h2, .red-theme h2, .red-theme .h3, .red-theme .default-theme .button, .default-theme .red-theme .button, .red-theme html .button, html .red-theme .button, .red-theme body .button, body .red-theme .button, .red-theme .default-theme input[type='button'], .default-theme .red-theme input[type='button'], .red-theme html input[type='button'], html .red-theme input[type='button'], .red-theme body input[type='button'], body .red-theme input[type='button'], .red-theme h3, .red-theme .h4, .red-theme h4, .red-theme .h5, .red-theme h5, .red-theme .h6, .red-theme h6 {
    color: #f8f8f8; }
  .red-theme a {
    color: #ddd; }
    .red-theme a:hover {
      color: #f8f8f8; }
  .red-theme p, .red-theme li {
    color: #ddd; }

.dark-theme {
  background-color: #222; }
  .dark-theme .h1, .dark-theme h1, .dark-theme .h2, .dark-theme h2, .dark-theme .h3, .dark-theme .default-theme .button, .default-theme .dark-theme .button, .dark-theme html .button, html .dark-theme .button, .dark-theme body .button, body .dark-theme .button, .dark-theme .default-theme input[type='button'], .default-theme .dark-theme input[type='button'], .dark-theme html input[type='button'], html .dark-theme input[type='button'], .dark-theme body input[type='button'], body .dark-theme input[type='button'], .dark-theme h3, .dark-theme .h4, .dark-theme h4, .dark-theme .h5, .dark-theme h5, .dark-theme .h6, .dark-theme h6 {
    color: #f8f8f8; }
  .dark-theme p, .dark-theme li {
    color: #ddd; }

.gray-theme {
  background-color: #ddd; }
  .gray-theme .h1, .gray-theme h1, .gray-theme .h2, .gray-theme h2, .gray-theme .h3, .gray-theme .default-theme .button, .default-theme .gray-theme .button, .gray-theme html .button, html .gray-theme .button, .gray-theme body .button, body .gray-theme .button, .gray-theme .default-theme input[type='button'], .default-theme .gray-theme input[type='button'], .gray-theme html input[type='button'], html .gray-theme input[type='button'], .gray-theme body input[type='button'], body .gray-theme input[type='button'], .gray-theme h3, .gray-theme .h4, .gray-theme h4, .gray-theme .h5, .gray-theme h5, .gray-theme .h6, .gray-theme h6 {
    color: #A95B61; }
    .gray-theme .h1 a, .gray-theme h1 a, .gray-theme .h2 a, .gray-theme h2 a, .gray-theme .h3 a, .gray-theme .default-theme .button a, .default-theme .gray-theme .button a, .gray-theme html .button a, html .gray-theme .button a, .gray-theme body .button a, body .gray-theme .button a, .gray-theme .default-theme input[type='button'] a, .default-theme .gray-theme input[type='button'] a, .gray-theme html input[type='button'] a, html .gray-theme input[type='button'] a, .gray-theme body input[type='button'] a, body .gray-theme input[type='button'] a, .gray-theme h3 a, .gray-theme .h4 a, .gray-theme h4 a, .gray-theme .h5 a, .gray-theme h5 a, .gray-theme .h6 a, .gray-theme h6 a {
      color: inherit; }
      .gray-theme .h1 a:hover, .gray-theme h1 a:hover, .gray-theme .h2 a:hover, .gray-theme h2 a:hover, .gray-theme .h3 a:hover, .gray-theme .default-theme .button a:hover, .default-theme .gray-theme .button a:hover, .gray-theme html .button a:hover, html .gray-theme .button a:hover, .gray-theme body .button a:hover, body .gray-theme .button a:hover, .gray-theme .default-theme input[type='button'] a:hover, .default-theme .gray-theme input[type='button'] a:hover, .gray-theme html input[type='button'] a:hover, html .gray-theme input[type='button'] a:hover, .gray-theme body input[type='button'] a:hover, body .gray-theme input[type='button'] a:hover, .gray-theme h3 a:hover, .gray-theme .h4 a:hover, .gray-theme h4 a:hover, .gray-theme .h5 a:hover, .gray-theme h5 a:hover, .gray-theme .h6 a:hover, .gray-theme h6 a:hover {
        color: #222; }
  .gray-theme a {
    color: #777; }
  .gray-theme .button, .gray-theme input[type='button'] {
    background-color: #f8f8f8; }

.white-theme {
  background-color: white; }

.h1, h1, .h2, h2, .h3, .default-theme .button, html .button, body .button, .default-theme input[type='button'], html input[type='button'], body input[type='button'], h3, .h4, h4, .h5, h5, .h6, h6 {
  font-family: "Lato";
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  text-transform: uppercase; }

.strong {
  font-weight: 900; }

.thin {
  font-weight: 300; }

.h2, h2 {
  margin-top: 1.5em;
  font-size: 24px; }

.h3, .default-theme .button, html .button, body .button, .default-theme input[type='button'], html input[type='button'], body input[type='button'], h3 {
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 0.25em; }

ul:not(.list) {
  padding: 0;
  list-style-type: none; }

ul.list {
  list-style-type: none; }
  ul.list > li {
    position: relative; }
    ul.list > li:before {
      content: '\2014';
      position: absolute;
      left: -20px; }

.tile {
  padding: 30px;
  margin: 0px; }

.tile-vertical {
  margin-top: 15px;
  margin-bottom: 15px; }

.tile-horizontal {
  margin-left: 15px;
  margin-right: 15px; }

.tile > *:first-child {
  margin-top: 5px; }

.aspect24x9 {
  position: relative; }
  .aspect24x9:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 37.5%; }
  .aspect24x9 > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.aspect16x9 {
  position: relative; }
  .aspect16x9:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 56.25%; }
  .aspect16x9 > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.aspect4x3 {
  position: relative; }
  .aspect4x3:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: 75%; }
  .aspect4x3 > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.abs-fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.rel-fill {
  position: relative;
  width: 100%;
  height: 100%; }

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.horizontal-center {
  position: relative;
  text-align: center; }

.placeholder {
  background-color: #eee; }

hr {
  margin-top: 20px;
  margin-bottom: 10px; }

p {
  margin-top: 10px; }

nav {
  padding-top: 70px; }
  nav .navbar-brand {
    padding: 0px; }
    nav .navbar-brand img {
      height: 120px;
      position: relative;
      top: -70px;
      margin-top: 4px; }

body {
  margin-top: 130px; }

.anchor {
  display: block;
  position: relative;
  top: -180px;
  visibility: hidden; }

.navbar-toggle .icon-bar {
  background-color: #222; }

.navbar {
  background-color: #f8f8f8; }
  .navbar h1 > .thin {
    margin-left: 5px; }

.navbar .container {
  border-bottom: 2px solid #777; }

.navbar-nav > li > a {
  color: #777;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Lato"; }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #222; }

.navbar-toggle {
  margin-top: 0px; }
