$break-lg: 1200px;
$break-md: 992px;
$break-sm: 768px;

$font-lg: 18px;
$font-md: 16px;
$font-sm: 14px;

$base: #f8f8f8;
$very-light-gray: #eee;
$light-gray: #ddd;
$medium-gray: #999;
$dark-gray: #777;
$heavy-gray: #222;
// $blue: #B0BBD0;
$blue: #8193B5;
$red: #A95B61;

$title-font: 'Lato';
$body-font: 'Roboto';