@import 'variables';

.admin-list-view {
    position: relative;
    height: 100%;
    overflow: hidden;

    .admin-list-header {
        overflow: hidden;
        height: 70px;
    }

    .admin-list-content {
        position: absolute;
        top: 70px;
        bottom: 100px;
        width: 100%;
    }

    table {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        margin: 0;
        overflow: auto;

        thead {
            display: block;
            flex: 0;
            position: absolute;
            background-color: $base;
            z-index: 1;
        }

        tbody {
            padding-top: 38px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            flex-basis: auto;
            flex-shrink: 0;

            tr {
              display: flex;
              flex-flow: row nowrap;

              th, td {
                display: block;
                flex-grow: 1;
                flex-basis: 0;
                flex-shrink: 0;
              }
            }

            tr:hover {
                background-color: $light-gray;
                cursor: pointer;
            }
        }
    }
}
