@import 'variables';
@import 'react-datetime';

.admin-list-view {
    position: relative;
    height: 100%;
    overflow: hidden;

    .admin-list-header {
        overflow: hidden;
        height: 70px;
    }

    .admin-list-content {
        position: absolute;
        top: 70px;
        bottom: 100px;
        width: 100%;
    }

    table {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        margin: 0;
        overflow: auto;

        thead {
            display: block;
            flex: 0;
            position: absolute;
            background-color: $base;
            z-index: 1;
        }

        tbody {
            padding-top: 38px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            flex-basis: auto;
            flex-shrink: 0;

            tr {
              display: flex;
              flex-flow: row nowrap;

              th, td {
                display: block;
                flex-grow: 1;
                flex-basis: 0;
                flex-shrink: 0;
              }
            }

            tr:hover {
                background-color: $light-gray;
                cursor: pointer;
            }
        }
    }
}

.twitter-typeahead {
  display: block!important;
  flex: 1 1 auto;
}

.tt-dropdown-menu {
  width: 100%;
  & > div {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 black;
    background-color: white;
  }
}
.tt-suggestion {
  padding: 2px 10px;
  line-height: 24px;
  color: #333;
  p {
    margin: 0;
  }
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  background-color: white;
  border: 1px solid gray;
}

.admin-cardgroup {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid gray;
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.admin-card {
  background-color: white;
  padding: 10px;
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.admin-subcard {
  margin-left: 10%;
}

.admin-card-img {
  float: left;
  width: 200px;
  // width: 33%;
  margin-right: 10px;
}

.admin-card-body {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
  .btn + .btn {
    margin-left: 5px;
  }
}

.admin-card-img + .admin-card-body {
  margin-left: 200px;
}

.admin-card-disabled {
  background-color: #ddd;
  .admin-card-body {
    color: #eee!important;
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
}
