@import 'theme';

.discussion {
  .article-thumb-block + .article-thumb-block {
    border-color: $light-gray;
  }
  .article-thumb-block .thumb {
    max-width: 250px;
  }

  .tile {
    padding: 0;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 36px;
    margin-top: 36px;
  }
}
