@import 'variables';
@import 'theme';
@import 'mixins';

#home-menu {
  float: left;
  padding-top: 75px;
  padding-bottom: 75px;
  border-right: 1px solid $dark-gray;
  overflow: hidden;
  transition: width 300ms;

  @media (min-width: $break-sm) {
    width: 250px;
  }
  @media (min-width: $break-md) {
    width: 300px;
  }
  @media (min-width: $break-lg) {
    width: 350px;
  }

  #brand-img {
    padding: 15px;
    padding-left: 30px;

    @media (min-width: $break-sm) {
      width: 250px;
    }
    @media (min-width: $break-md) {
      width: 300px;
    }
    @media (min-width: $break-lg) {
      width: 350px;
    }
  }

  ul.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      font-size: $font-lg;
      line-height: 50px;
      text-transform: uppercase;
      text-align: center;

      a {
        display: block;
        color: inherit;
      }

      &:hover {
        color: $heavy-gray;
        background-color: $very-light-gray;
        cursor: pointer;
      }
    }
  }
}

#home-content-wrap {
  width: 100%;

  .content {
    padding: 20px;
    padding-top: 75px;

    @media (min-width: $break-sm) {
      margin-left: 250px;
    }
    @media (min-width: $break-md) {
      margin-left: 300px;
    }
    @media (min-width: $break-lg) {
      margin-left: 350px;
    }
  }
}

.article {
  position: relative;

  h3 {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .aspect4x3 {
    width: 200px;
    float: left;
  }

  .article-preview {
    margin-left: 215px;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  & + .article {

    margin-top: 40px;
    &:before {
      content: '';
      display: block;
      height: 1px;
      width: 65%;
      background-color: $light-gray;
      position: absolute;
      right: -5%;
      top: -20px;
    }
  }

  span.author {
    text-transform: uppercase;
    font-style: italic;
  }

  span.date {
    text-transform: uppercase;
    float: right;
    font-style: italic;
  }
}

@media(max-width: 767px) {
  #top {
    padding: 0px;
  }
}

.announcement {
  padding: 20px;
  p {
    font-size: 18px;
    color: white;
    a {
      color: #eee;
      &:hover {
        color: #A95B61;
      }
    }
  }
}
