
@import 'variables';
@import 'theme';
@import 'mixins';
@import 'nav';


* {
  box-sizing: border-box;
}

html, body {
  @extend .default-theme;
}

ul:not(.list) {
  padding: 0;
  list-style-type: none;
}

ul.list {
  list-style-type: none;
  & > li {
    position: relative;
    &:before {
      content: '\2014';
      position: absolute;
      left: -20px;
    }
  }
}

ul.clean {
  li + li {
    margin-top: 5px;
  }
}

.tile {
  padding: 30px;
  margin: 0px;

  .logo {
    display: inline-block;
    width: 50px;
    margin-top: 10px;
    margin-right: 15px;
  }
}

$tile-spacing: 15px;
.tile-vertical {
  margin-top: $tile-spacing;
  margin-bottom: $tile-spacing;
}

.tile-horizontal {
  margin-left: $tile-spacing;
  margin-right: $tile-spacing;
}

.tile {
  & > *:first-child {
    margin-top: 5px;
  }
}

.aspect24x9 {
  @include aspect-ratio(24 ,9);
}

.aspect16x9 {
  @include aspect-ratio(16, 9);
}

.aspect4x3 {
  @include aspect-ratio(4, 3);
}

.abs-fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.rel-fill {
  position: relative;
  width: 100%;
  height: 100%;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  position: relative;
  text-align: center;
}

.placeholder {
  background-color: $very-light-gray;
}

hr {
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
}

.p {
  @extend p;
}

th, td {
  padding: 5px 10px;
}

.container {
  max-width: 100%;
}
