
@import 'variables';
@import 'theme';
@import 'mixins';
@import 'nav';


* {
  box-sizing: border-box;
}

html, body {
  @extend .default-theme;
}

ul:not(.list) {
  padding: 0;
  list-style-type: none;
}

ul.list {
  list-style-type: none;
  & > li {
    position: relative;
    &:before {
      content: '\2014';
      position: absolute;
      left: -20px;
    }
  }
}

ul.clean {
  li + li {
    margin-top: 5px;
  }
}

.tile {
  padding: 30px;
  margin: 0px;

  .logo {
    width: 50px;
    margin-top: 10px;
    margin-right: 10px;
  }
}

$tile-spacing: 15px;
.tile-vertical {
  margin-top: $tile-spacing;
  margin-bottom: $tile-spacing;
}

.tile-horizontal {
  margin-left: $tile-spacing;
  margin-right: $tile-spacing;
}

.tile {
  & > *:first-child {
    margin-top: 5px;
  }
}

.aspect24x9 {
  @include aspect-ratio(24 ,9);
}

.aspect16x9 {
  @include aspect-ratio(16, 9);
}

.aspect4x3 {
  @include aspect-ratio(4, 3);
}

.abs-fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.rel-fill {
  position: relative;
  width: 100%;
  height: 100%;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  position: relative;
  text-align: center;
}

.placeholder {
  background-color: $very-light-gray;
}

hr {
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-top: 10px;
}

.p {
  @extend p;
}

th, td {
  padding: 5px 10px;
}

.container {
  max-width: 100%;
}







.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.textareaform {
  width: 100%;
  height: 500px;
}
#regularform label{
padding-right: 20px
}
#regularform #submit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
}
#regularform button {
  background-color: #A9A9A9; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
  margin-left: 150px;
  margin-top: 20px;
}
#left-container{
  width: 48%;
  float: left;
}

.tile-vertical.white-theme.container-right{
  margin-top: 70px;
  height:500px;
  width: 50%;
  float: right;
}
