// .navbar-brand {
//   padding: 5px;
//   img {
//     position: relative;
//     height: 200%;
//     top: -90%;
//   }
// }

.twitter-typeahead {
  display: block!important;
}

.tt-dropdown-menu { 
  width: 100%;
}
.tt-dataset-0 {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 black;
  background-color: white;
}
.tt-suggestion {
  padding: 2px 10px;
  line-height: 24px;
  color: #333;
  p {
    margin: 0;
  }
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
}

.tt-hint {
  color: #999
}

html, body {
  overflow-x: hidden;
}