body.LW-admin-open {
  position: fixed;
  left: 0px;
  right: 400px;
  width: auto;
}

body.LW-admin-open #LW-admin-panel {
  display: block;
}

#LW-admin-panel {
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 400px;
  background-color: #222;
  color: #eee;
  padding: 20px;
  box-sizing: border-box;
}

// #LW-admin-panel h1